menu "Example Task Configuration"

    config EXAMPLE_WIFI_CRED_FROM_STDIN
        bool "WiFi credentials from stdin"
        default n
        help
            If enabled, WiFi credentials will be read from stdin.

    config EXAMPLE_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        depends on !EXAMPLE_WIFI_CRED_FROM_STDIN
        help
          WiFi SSID to connect to
        
    config EXAMPLE_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        depends on !EXAMPLE_WIFI_CRED_FROM_STDIN
        help
          WiFi password to use

    config EXAMPLE_OTA_URL_FROM_STDIN
        bool "OTA URL from stdin"
        default n
        help
            If enabled, OTA URL will be read from stdin.

    config EXAMPLE_OTA_URL
        string "OTA URL"
        default "https://127.0.0.1:8070/ble_mesh_ota_bin"
        depends on !EXAMPLE_OTA_URL_FROM_STDIN
        help
          OTA URL to use
        
    config EXAMPLE_OTA_SIZE
        int "OTA Size"
        default 0
        help
          Size of OTA image to download, cannot be 0

endmenu