menu "BLE Mesh APP Example Configuration"

    choice BLE_MESH_EXAMPLE_BOARD
        prompt "Board selection for BLE Mesh"
        default BLE_MESH_ESP_WROOM_32
        help
            Select this option to choose the board for BLE Mesh. The default is ESP32-WROOM-32

        config BLE_MESH_ESP_WROOM_32
            bool "ESP32-WROOM-32"

        config BLE_MESH_ESP_WROVER
            bool "ESP32-WROVER"
    endchoice

    config BLE_MESH_PATCH_FOR_SLAB_APP_1_1_0
        bool "Fix bug of Silicon Lab Android App v1.1.0 when reconnection will cause sequence number to recount from 0"
        default y
        help
            It is an ad hoc solution and needs further modifications

    menu "light driver config"
        config LIGHT_GPIO_RED
            int "Light red pin GPIO number"
            range 0 33
            default 25
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.

        config LIGHT_GPIO_GREEN
            int "Light green pin GPIO number"
            range 0 33
            default 26
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.

        config LIGHT_GPIO_BLUE
            int "Light blue pin GPIO number"
            range 0 33
            default 27
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.

        config LIGHT_GPIO_COLD
            int "Light cold colors pin GPIO number"
            range 0 33
            default 23
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.

        config LIGHT_GPIO_WARM
            int "Light warm color pin GPIO number"
            range 0 33
            default 19
            help
                There are more enumerations like that
                up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
                They are not shown here to reduce redundant information.
                @note GPIO34..39 are input mode only.

        config LIGHT_FADE_PERIOD_MS
            int "The time from the current color to the next color"
            default 500
            help
                The time from the current color to the next color.

        config LIGHT_BLINK_PERIOD_MS
            int "Period of blinking lights"
            default 2000
            help
                Period of blinking lights.
    endmenu

    config LIGHT_VERSION
        string "Light version"
        default "1.2.2"
        help
            Version of the five-color light

    config LIGHT_MEMORY_DEBUG
        bool "Enable memory debugging"
        default n
        help
            Enable memory debugging.

    config LIGHT_RESTART_COUNT_RESET
        int "Reset the number of times the device has been powered off continuously to enter the configured network mode"
        range 3 10
        default 3
        help
            Reset the number of times the device has been powered off continuously to enter the configured network mode.

    config LIGHT_RESTART_COUNT_ROLLBACK
        int "Number of times the device restarted abnormally, entered, and exited from the previous version"
        range 5 32
        default 10
        help
            Number of times the device restarted abnormally, entered, and exited from the previous version.

    config UPGRADE_VERSION_ROLLBACK_RESTART
        bool "Fall back to the previous version"
        default y
        help
            If there is a factory partition, it will switch to the factory partition.

    config UPGRADE_VERSION_ROLLBACK_RESTART_COUNT
        int "How many times to restart continuously will rollback"
        range 15 32
        default 15
        depends on UPGRADE_VERSION_ROLLBACK_RESTART
        help
            How many times to restart continuously will rollback.

    config UPGRADE_VERSION_ROLLBACK_RESTART_TIMEOUT
        int "Continuous restart interval(ms)"
        default 5000
        depends on UPGRADE_VERSION_ROLLBACK_RESTART
        help
            Continuous restart interval.

    config UPGRADE_VERSION_ROLLBACK_FACTORY
        bool "If there is a factory partition, fall back to the factory version"
        default y
        depends on UPGRADE_VERSION_ROLLBACK_RESTART
        help
            If there is a factory partition, fall back to the factory version instead
            of rolling back to the previous version

endmenu
