# Espressif IoT Development Framework (ESP-IDF) Project Minimal Configuration
            
# PARTITION TABLE
# custom partition table
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y


# WIFI
CONFIG_ESP_WIFI_ENABLED=y

#
# ESP HTTPS OTA
#
CONFIG_OTA_ALLOW_HTTP=y

# BLUETOOTH 
# enable BT and BLE support
# PB_GATT to enable
CONFIG_BT_ENABLED=y
CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MANUAL=y
CONFIG_BT_BLE_50_FEATURES_SUPPORTED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_PROV=y
CONFIG_BLE_MESH_PB_GATT=y
CONFIG_BLE_MESH_NODE=y

# OTA
CONFIG_BT_CTRL_BLE_MESH_SCAN_DUPL_EN=y
