menu "BLE MESH OTA"

    config BLE_MESH_OTA_SEGMENT_SIZE
        int "Size of each BLE Mesh OTA segment to be sent"
        range 128 4096
        default 1024
        help
            Size of each BLE MESH OTA segment to be transmitted.

endmenu